extends template/layout

block content
    
    //- Menu bar
    - var current = "Admin"
    include template/nav
    
    div(class="admin")
        h2 Opret produkt
        form#form(action="/admin" method='POST')
            div(class="form")
                input#name(type='text' name="name" required)
                label(class="label_navn")
                    span(class="input_navn") Produkt navn
            div(class="form")
                input#alcoholP(type='text' name='alcoholP' required)
                label(class="label_navn")
                    span(class="input_navn") Alkohol %

            div(class="form")
                input#price(type='text' name='price' required)
                label(class="label_navn")
                        span(class="input_navn") Pris

            br
            label Beskrivelse
            br
            textarea#desciption(type='text' name='desciption' cols="30", rows="5")
            //- //- span Beskrivelse
            br
            br
            input(type='Submit' value='Opret')

