extends template/layout

block content
    
    //- Menu bar
    - var current = "Admin"
    include template/nav
    
    body
        br
        h2 Opret produkt
        form#form(action="/admin" method='POST')
            p Produkt navn
            input#name(type='text' name="name")
            p Alkohol %
            input#alcoholP(type='text' name='alcoholP')
            p Pris
            input#price(type='text' name='price')
            p Beskrivelse
            textarea#desciption(type='text' name='desciption' cols="30", rows="5")
            br
            br
            input(type='Submit' value='Opret')

