extends template/layout

block content
    
    //- Menu bar
    - var current = "Admin"
    include template/nav
    
    body
        br
        div(class="edit-product-container")
            h2 Rediger produkt
            form#form(action='/admin/edit/'+_id method='POST')
                p Produkt navn
                input#name(name="name", type='text', value= name)
                p Alkohol %
                input#alcoholP(name='alcoholP' type='text' value= alcoholP)
                p Pris
                input#price(name='price' type='text' value= price)
                p Beskrivelse
                textarea#desciption(name='desciption' type='text', rows="5") #{desciption}
                br
                br
                div(id="gemBtn")
                    input(type='Submit' value='Gem')
                div(id="tilbageBtn")
                    input(type='button' onclick="location.href='/adminsortiment'" value="Tilbage")