include template/layout

block content
head
    link(rel='stylesheet' href='//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css')
    script(src='https://code.jquery.com/jquery-1.12.4.js')
    script(src='https://code.jquery.com/ui/1.12.0/jquery-ui.js')
    script(src="booking.js")
    script.
        $(function() {
        $("#datepicker").datepicker();
        } )
body
    //- Menu bar
    - var current = "Booking"
    include template/nav

    form(action="" method="post")
        div(class="grid-container")
            div(class="grid-container-info")
                p Navn:
                input#bName(type='text' name='firstname' placeholder="Navn")
                p Email:
                input#bEmail(type='text' name='email' placeholder="Email")
                p Telefon nr:
                input#bPhone(type='text' name='telefonnummer' placeholder="Nr.")
                p Antal person:
                input#bPersons(type='text' name='antalperson' placeholder="Antal")
            //- input(type='text' name='beskrivelse')
            div(class="grid-container-info2")
                p Beskrivelse:
                textarea#bComment(name="beskrivelse", cols="30", rows="10" placeholder="Hvilken type arrangement?                        F.eks. Øl smagning, Julefrokost, bord bestilling osv.                                       Andre spørgsmål?                                                sd")
                p Dato:
                input#datepicker(v-model='newDate' placeholder="Vælge dato" )
                p Starttidspunkt:
                select#timepicker(name="starttimepicker")
                    each val in tid
                        option=val
                p Sluttidspunkt:
                select#timepicker(name="sluttimepicker")
                    each val in tid
                        option=val
            div(class="grid-container-send")
                input(type='submit' value='send')
