html
    head
    title Booking
    body
        form
            p navn:
            input(type='text' name='firstname')
            p Email:
            input(type='text' name='email')
            p Telefonnummer:
            input(type='text' name='telefonnummer')
            p Antal pers:
            input(type='text' name='antalpers')
            p Beskrivelse:
            input(type='text' name='beskrivelse')
            br
            br
            input(type='submit' value='Send')