include template/layout

block content
head
    link(rel='stylesheet' href='//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css')
    script(src='https://code.jquery.com/jquery-1.12.4.js')
    script(src='https://code.jquery.com/ui/1.12.0/jquery-ui.js')
    script.
        $(function() {
        $("#datepicker").datepicker();
        } )
body
    //- Menu bar
    - var current = "Booking"
    include template/nav
    
    form(action="MAILTO:benja97@live.dk" method="post" enctype="text/plain")
        p Navn:
        input(type='text' name='firstname')
        p Email:
        input(type='text' name='email')
        p Telefonnummer:
        input(type='text' name='telefonnummer')
        p Antal pers:
        input(type='text' name='antalpers')
        p Beskrivelse:
        input(type='text' name='beskrivelse')
        p Dato:
        input#datepicker(v-model='newDate' )
        p Tidspunkt:
        select#timepicker(name="timepicker")
            each val in ['12-14', '14-16', '16-18', '18-20', '20-22', '22-00']
                option=val
        br
        br
        input(type='submit' value='Send')
