include ./layout

block content
form(action="MAILTO:benja97@live.dk" method="post" enctype="text/plain")
    p navn:
    input(type='text' name='firstname')
    p Email:
    input(type='text' name='email')
    p Telefonnummer:
    input(type='text' name='telefonnummer')
    p Antal pers:
    input(type='text' name='antalpers')
    p Beskrivelse:
    input(type='text' name='beskrivelse')
    br
    br
    input(type='submit' value='Send')