extends template/layout

block content

    //- Menu bar
    - var current = "Booking"
    include template/nav

    form(action="/booking" method="post")
        div(class="grid-container")
            div(class="grid-container-info")
                p Navn:
                input#bName(placeholder="Navn" name="navn")
                p Email:
                input#bEmail(type='text' name='email' placeholder="Email")
                p Telefon nr:
                input#bPhone(type='text' name='telefonnummer' placeholder="Nr.")
                p Antal personer:
                input#bPersons(type='number' name='antalperson' placeholder="Antal")
            //- input(type='text' name='beskrivelse')
            div(class="grid-container-info2")
                p Beskrivelse:
                textarea#bComment(name="beskrivelse", cols="30", rows="10" placeholder="Hvilken type arrangement?\nF.eks. ølsmagning, julefrokost eller bordbestilling osv.\nAndre spørgsmål?")
                p Dato:
                input#datepicker(v-model='newDate' name="dato" placeholder="Vælg dato" )
                p Starttidspunkt:
                select#starttimepicker(name="starttimepicker" onchange="changingTime()")
                    each val in tid
                        option=val
                p Sluttidspunkt:
                select#sluttimepicker(name="sluttimepicker")
            div(class="grid-container-send")
                input(class="admin_send" type='submit' value='Send')
            script.
                function changingTime() {
                    let indeks = document.getElementById('starttimepicker').selectedIndex
                    let slut = document.getElementById('sluttimepicker');
                    let start = document.getElementById('starttimepicker');
                    let len = slut.length;
                    document.getElementById('sluttimepicker').options.length = 0;
                    for (let i = indeks + 1; i < start.length; i++) {
                        let option = document.createElement("option");
                        option.text = start[i].value;
                        slut.add(option);
                    }
                }
