extends template/layout

block content

    //- Menu bar
    //- var current = "Booking"
    //-include template/nav

    form(action="/booking" method="post")
        div(class="grid-container")
            div(class="grid-container-info")
                p Navn:
                input#bName(placeholder="Navn")
                p Email:
                input#bEmail(type='text' name='email' placeholder="Email")
                p Telefon nr:
                input#bPhone(type='text' name='telefonnummer' placeholder="Nr.")
                p Antal personer:
                input#bPersons(type='number' name='antalperson' placeholder="Antal")
            //- input(type='text' name='beskrivelse')
            div(class="grid-container-info2")
                p Beskrivelse:
                textarea#bComment(name="beskrivelse", cols="30", rows="10" placeholder="Hvilken type arrangement?\nF.eks. ølsmagning, julefrokost eller bordbestilling osv.\nAndre spørgsmål?")
                p Dato:
                input#datepicker(v-model='newDate' placeholder="Vælg dato" )
                p Starttidspunkt:
                select#timepicker(name="starttimepicker")
                    each val in tid
                        option=val
                p Sluttidspunkt:
                select#timepicker(name="sluttimepicker")
                    each val in sluttid
                        option=val
            div(class="grid-container-send")
                input(type='submit' value='Send')
