html
    head
        style
            include styles.css
        title Mundhæld
        script(script='app.js')
    style.
        body {
            background-image: url('/back.png');
        }
    ul
        li
            a(href='booking.pug') Booking
        li
            a(href='sortiment.pug') Sortiment
        li
            a(href='admin.pug') Admin
        li 
            img(src="FBlogo.png" alt="" clas = "fb_logo")

        img(src="/logo.png" alt="" class="logo")