extends template/layout
block content   
    //- Menu bar
    - var current = "Forside"
    include template/nav
           
    div(class="kontakt")
        img(src="/logo.png" alt="")
        div(class="kontakt_info")
            div(class="kontakt_info_title")
                div MUNDHÆLD
            div(class="kontakt_info_adresse")
                div Vestergade 51
                div 8000 Århus C
            div(class="kontakt_info_åbingstider")
                div Åbningstider:
                div Tirsdag: 12.00 - 23.00
                div Onsdag: 12.00 - 23.00
                div Torsdag: 12.00 - 24.00
                div Fredag: 12.00 - 02.00
                div Lørdag: 12.00 - 02.00
                div Mandag: Lukket
                div Søndag: Lukket
            div(class="kontakt_info_kontakt")
                div Kontakt:
                div mundhaeld@mundhaeld.dk
                div facebook.com/mundhaeld
    iframe(class="fb" src='https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fmundhaeld%2F&tabs=timeline&width=500&height=700&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId' width='5000' height='700' scrolling='no' frameborder='0' allowtransparency='true' allow='encrypted-media')
