html
    head
        style
            include styles.css
        title Mundhæld
        link(href='//fonts.googleapis.com/css?family=Arvo' rel='stylesheet')
        link(href='//fonts.googleapis.com/css?family=Rye' rel='stylesheet')
        link(href='//fonts.googleapis.com/css?family=Kaushan' rel='stylesheet')
        link(href='//fonts.googleapis.com/css?family=Cambay' rel='stylesheet')
        link(href='//fonts.googleapis.com/css?family=Josefin' rel='stylesheet')
        script(script='app.js')

    body
        div(id="menu")   
            ul
                li 
                    a(href='forside') Forside
                li
                    a(href='booking') Booking
                li
                    a(href='sortiment') Sortiment
                li
                    a(href='admin.pug') Admin
                li 
                    a(href="https://www.facebook.com/mundhaeld/")
                        img(src="FBlogo.png" alt="" clas = "fb_logo")
        block content