extends template/layout

block content
    head
    body
        //- Menu bar
        - var current = "Sortiment"
        include template/nav

        ul
            //- each product in products
            //-     li: product
            

