extends template/layout

block content

    //- Menu bar
    - var current = "Sortiment"
    include template/nav

    body
        div(class="container")
            each p in product
                ul(class="container_product")
                    img(src="/logo.png" alt="" class="container_product_billede")
                    //- img(class="container_product_billede")= pro.billede
                    div(class="product_name")
                        li= p.name
                        li(class="product_name_A")= p.alcoholP
                            |  %
                    div(class="product_name_price")
                        li= p.price 
                            |kr. 
                        br
                    div(class="container_product_beskrivelse")
                        li Beskrivelse
                        div(class="container_product_beskrivelse_indhold")
                            p= p.desciption
                

