extends template/layout

block content

    //- Menu bar
    - var current = "Sortiment"
    include template/nav

    div(class="container")
        each pro in product
            ul(class="container_product")
                img(src="/logo.png" alt="" class="container_product_billede")
                div(class="container_product_indhold")
                    div(class="hej")
                        li= pro.name
                div
                    li= pro.alcoholP
                        |  %
                    br
                    li= pro.price 
                        |kr 
                    br
                div(class="container_product_beskrivelse")
                    li Beskrivelse
                    div(class="container_product_beskrivelse_indhold")
                        p= pro.desciption
            

