body {
    margin: 0px;
}

img.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-top: 40px;
    float: none;
    text-align: center;
    color: lightgray;
}

li, li a {
    display: inline;
    padding: 40px;
    color: unset;
    font-family: sans-serif, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
}

.kontakt {
    text-align: center;
    color: lightgrey;
  }
   
  .kontakt_info_title {
    margin-top: 20;
    margin-bottom: 20;
  }
   
  .kontakt_info_adresse {
    margin-bottom: 20;
  }
  .kontakt_info_åbingstider {
    margin: 20;
  }
  .kontakt_info_kontakt {
    margin-bottom: 20;
  }

.fb {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 500;
    align-items: center;
}

.textnormal {
    font-family: "Arvo", "Open Sans", "Helvetica Neue", "Helvetica", "sans-serif";
    font-style: normal;
    font-size: 30px;
    font-weight: normal;
    text-decoration: none;
    color: rgba(217,217,217,1);
    letter-spacing: normal;
}
