body {
  margin-top: 0%;
  background-image: url("/back.png");
  font-family: "Arvo", "Open Sans", "Helvetica Neue", "Helvetica", "sans-serif";
  font-style: normal;
  font-size: 15px;
  font-weight: normal;
  text-decoration: none;
  color: rgba(217, 217, 217, 1);
  letter-spacing: normal;
}
/* ----------------------------- Menu ------------------------------*/

#menu {
  list-style-type: none;
  margin: 0;
  padding-top: 20px;
  float: none;
  text-align: center;
  color: lightgray;
}

#menu a:hover {
  color: #800000;
}
.active {
  color: #800000;
}

#respmenu{
  margin:0;
  position: fixed;
  visibility: hidden;
  width: 10%;
  height: auto;
  
}
#respdiv{
  position: fixed;
  visibility: hidden;
  display: none;
  width: auto;
  height: auto;
  background-color: black;
  border-radius: 20px;  
}

#respul{
  list-style-type: none;
}
#respcontent{
  position: relative;
  left: -30%;
}

/* ----------------------------- Forside -------------------------------*/
#bigmenu li,
li a {
  display: inline;
  padding-left: 40px;
  padding-right: 40px;
  color: unset;
  font-family: sans-serif, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 30px;
  text-decoration: none;
}
.kontakt {
  text-align: center;
  margin-top: 30px;
}

.kontakt_info_title {
  margin-top: 20;
  margin-bottom: 20;
}

.kontakt_info_adresse {
  margin-bottom: 20;
}
.kontakt_info_åbingstider {
  margin: 20;
}
.kontakt_info_kontakt {
  margin-bottom: 20;
}

.fb {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 500;
  align-items: center;
}
/* ------------------------------------- Booking -------------------------------------*/

#bookingform {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

#timepicker {
  /*padding-right: 100px;*/
  width: 150px;
}
.error {
  font-size: 10px;
  color: #800000;
}


.grid-container {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  text-align: center;
  display: grid;
}
.grid-container-info input:valid {
  border: 3px solid green;
  border-radius: 5px;
  
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.grid-container input:invalid, textarea:valid {
  border: 3px solid gray;
  border-radius: 5px;
}

.grid-container p {
  margin-bottom: 5px;
}
.grid-container textarea {
  width: 270px;
  resize: none;
}

.grid-container-info {
  grid-column-start: 2;
  
}
.grid-container-info2 {
  grid-column-start: 3;
}
.grid-container-send {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

/* Rediger produkt skærm */
.edit-product-container {
  text-align: center;
  margin: 0 auto;
  width: 200px;
}

@media only screen and (max-width: 950px) {
  /* lille skærm */
  .grid-container {
    display: inline;
  }
  .admin_send {
    margin-top: 10px;
  }
}

/* --------------------------- Mobil Sortiment/ Sortiment ----------------------------- */
@media only screen and (max-width: 950px) {
  /* lille skærm */
  #respmenu {
  visibility: visible;
  width: 10%;
  height: auto;
  }

  #menu{
    visibility: hidden;
  }

  .container_product {
    grid-template-columns: 1fr;
    text-align: center;
    width: 300px;
  }
  .product_name_A {
    margin-left: -70px;
  }
  .product_name {
    margin-top: 10px;
  }
}
/* Mellem skærm */
@media only screen and (max-width: 950px) {
    .product_name_A {
    margin-left: -70px;
  }
}

@media only screen and (min-width: 950px) {
  /* stor skærm */
  #respmenu{
    visibility: hidden;
    width: 0%;
    height: auto;
  }

  #respdiv{
    display: none;
    visibility: hidden;
    width: 0%;
    height: auto;
  }

  #menu{
    visibility: visible;
  }
  .container_product {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 1000px;
    display: inline-grid;
  }
  .product_name {
    display: inline-grid;
  }

  .product_name_A {
    margin-top: -25px;
  }
}
/* --------------------------- Sortiment -----------------------------*/

.container {
  margin-top: 20px;
  text-align: center;
}
.container_product_billede {
  width: 70px;
  height: 70px;
}
.container li {
  font-size: 18px;
  list-style-type: none;
}
.product_name_price {
  text-align: center;
}
.container_product_beskrivelse {
  text-align: center;
}
.container_product_beskrivelse li {
  font-size: 13px;
}
.container_product_beskrivelse_indhold {
  font-size: 10px;
  text-align: center;
}
.product_name {
  text-align: center;
}

.container_product_billede {
  width: 70px;
  height: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* --------------------------- SortimentAdmin -----------------------------*/
@media only screen and (max-width: 600px) {
  /* lille skærm */
  .admincontainer_product {
    text-align: center;
    width: 300px;
  }
  .adminproduct_name_A {
    margin-left: -70px;
  }
  .adminproduct_name {
    margin-top: 10px;
  }
}
/* Mellem skærm */
@media only screen and (max-width: 950px) {
  .adminproduct_name_A {
    margin-left: -70px;
  }
}

@media only screen and (min-width: 950px) {
  /* stor skærm */
  .admincontainer_product {
    grid-template-columns: 5% 20% 30% 20% 20%;
    width: 1000px;
    display: inline-grid;
  }
  .adminproduct_name {
    display: inline-grid;
  }
  .adminproduct_name_A {
    margin-top: -25px;
  }
}
/* --------------------------- Sortiment -----------------------------*/

.admincontainer {
  margin-top: 20px;
  text-align: center;
}
.admincontainer_product_billede {
  width: 70px;
  height: 70px;
}
.admincontainer li {
  font-size: 18px;
}
.adminproduct_name_price {
  text-align: center;
}
.admincontainer_product_beskrivelse {
  text-align: center;
}
.admincontainer_product_beskrivelse li {
  font-size: 13px;
}
.admincontainer_product_beskrivelse_indhold {
  font-size: 10px;
  text-align: center;
}
.adminproduct_name {
  text-align: center;
}

.admincontainer_product_billede {
  width: 70px;
  height: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.container_product_slet {
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
}
.sletknap {
  height: 30px;
  height: 30px;
}
/* ---------------------------------------- Admin ------------------------------------*/
.admin {
    text-align: center;
    margin-top: 50px;
}
.form {
  position: relative;
  width: 50%;
  height: 50px;
  overflow: hidden;
  margin-bottom: 10px;
  left: 25%;
}

.form input{
    width: 100%;
    height: 100%;
    padding-top: 20px;
    border: none;
    background: rgba(0, 0, 0, 0);
    outline: none;
    color: aliceblue;
}
.form label{
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid whitesmoke;
}


.input_navn {
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
}

.form label::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #128112;
    transform: translateX(-100%);
    transition: all 0.4s ease;
}
.form input:focus + .label_navn .input_navn,
.form input:valid + .label_navn .input_navn {
    transform: translateY(-150%);
    font-size: 15px;
    color: #128112;
}
.form input:invalid + .label_navn .input_navn {
    transform: translateY(-150%);
    font-size: 15px;
    color: red;
}

.form input:valid + .label_navn::after{
transform: translateX(0%);
}

.admin textarea {
    width: 350px;
    height: 150px;
}


