body {
    margin-top: 0%;
}

#logo {
    display: block;
    margin-left: 50%;
    margin-right: auto;
    padding-top: 10%;
}

#menu {
    list-style-type: none;
    margin-top: 5%;
    padding: 0;
    float: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    color: lightgray;
}

li, li a {
    display: inline;
    padding-left: 40px;
    padding-right: 40px;
    color: unset;
    font-family: sans-serif, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
}