html
    head
        style
            include ../styles.css
        title Mundhæld
        link(rel='icon' href='/logo.png' type='image/x-icon')
        link(href='//fonts.googleapis.com/css?family=Arvo' rel='stylesheet')
        link(href='//fonts.googleapis.com/css?family=Rye' rel='stylesheet')
        link(href='//fonts.googleapis.com/css?family=Kaushan' rel='stylesheet')
        link(href='//fonts.googleapis.com/css?family=Cambay' rel='stylesheet')
        link(href='//fonts.googleapis.com/css?family=Josefin' rel='stylesheet')
        script(script='app.js')

    body
        block content