html
    head
        style
            include ../styles.css
        title Mundhæld
        link(rel='icon' href='/logo.png' type='image/x-icon')
        link(href='//fonts.googleapis.com/css?family=Arvo' rel='stylesheet')
        link(href='//fonts.googleapis.com/css?family=Rye' rel='stylesheet')
        //- link(href='//fonts.googleapis.com/css?family=Kaushan' rel='stylesheet')
        link(href='//fonts.googleapis.com/css?family=Cambay' rel='stylesheet')
        //- link(href='//fonts.googleapis.com/css?family=Josefin' rel='stylesheet')
        script(script='app.js')
        link(rel='stylesheet' href='//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css')
        script(src='https://code.jquery.com/jquery-1.12.4.js')
        script(src='https://code.jquery.com/ui/1.12.0/jquery-ui.js')
        script.
            $(function() {
            $("#datepicker").datepicker();
            } )

    body
        block content