mixin navLink(link, name)
    li
        a(
            href=link
            class={active: name === current}
        ) #{name}

mixin navRespLink(link, name)
    li#respContent
        a(
            href=link
            class={active: name === current}
        ) #{name}


span.menuen
    div.resposive()
        img#respmenu(src="respmenuikon.png" onclick=`openClose()`)
        br.breakpointers()
        br.breakpointers()
        div#respdiv(style="visibility: hidden; display: none")
            ul#respul
                +navRespLink("forside", "Forside")
                +navRespLink("booking", "Booking")
                +navRespLink("sortiment", "Sortiment")         
            script.
                function openClose(){
                    let menu = document.getElementById('respdiv');
                    let breaks = document.getElementsByClassName('breakpointers');
                    if(menu.style.visibility === "hidden"){
                        menu.style.visibility = "visible",
                        menu.style.display = "block"
                        //- breaks.style.display = "block"
                    } else {
                        menu.style.visibility = "hidden",
                        menu.style.display = "none"
                        //- breaks.style.display = "none"
                    }
                }
    div#bigmenu
        ul(id="menu") 
            +navLink("forside", "Forside")
            +navLink("booking", "Booking")
            +navLink("sortiment", "Sortiment")
            +navLink("admin", "Admin")

